.agendamento {
    padding: 2rem 0;
    margin: 0 auto;
}

.border-2 {
    border-color: var(--preto);
    width: 8%;
}

.agendamento-textos {
    text-align: center;
    padding: 1rem;
}

.agendamento-paragrafo {
    color: var(--preto);
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 1.3rem;
}

.titulo-agendamento {
    color: var(--preto);
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.form-agendamento {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--Roboto);
}

.form-agendamento>label {
    width: 300px;
    margin: 1rem 2rem;
}

.form-agendamento>label>div {
    display: flex;
    align-items: center;
    padding-bottom: .5rem;
}

.form-agendamento label>div>p {
    font-size: 1.5rem;
}

.form-agendamento label>div>img {
    height: 34px;
}

.form-agendamento label input,
.input-servicos {
    width: 100%;
    padding: .8rem;
    border: solid 1px #000;
    border-radius: 5px;
}

.form-agendamento label input:focus{
    outline-color: #EDB074;
}

.input-servicos {
    border: 1px solid #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    cursor: pointer;
    color: #333333;
}

.input-servicos:hover{
    border-color: #333333;
}

.input-servicos>p {
    font-size: 1rem;
    margin: 0;
}

.alvo{
    transform: rotate(-180deg);
    transition: 300ms all;
}

.alvo-reverse{
    transform: none;
}

#checkboxes {
    position: absolute;
    display: block;
    opacity: 0;
    width: 320px;
    background-color: #fffefe;
    border-radius: 5px;
    transition: 200ms all;
    max-height: 200px;
    padding-right: .4rem;
    overflow-x: hidden;
    box-shadow: 1px 0px 5px #00000041;
}

#checkboxes strong {
    font: revert;
    line-height: 1.5rem;
    padding-left: .5rem;
}

#checkboxes label {
    display: flex;
    align-items: baseline;
    margin: .4rem 0;
}

#checkboxes label>input {
    width: 30px;
}

#checkboxes label:hover {
    background-color: #1e90ff;
}

.input-mensagem-erros {
    display: block;
    color: var(--cor-erro);
    line-height: 1.5rem;
    font-family: var(--Roboto);
    font-size: 1rem;
}
.box-msg{
    text-align: center; 
    font-size: 1.1rem;
    padding: 1rem 0;
    max-width: 500px;
    margin: auto;
}
.msg-erro, .msg-sucesso {
    margin: 1rem auto;
}
.msg-erro{
    color: var(--cor-erro);
}

.msg-sucesso {
    color: green;
}

.verifyError {
    border: 1px solid var(--cor-erro);
}

.botao-2 {
    display: block;
    width: 300px;
    margin: auto;
    border-color: transparent;
    padding: 1.5rem;
    text-align: center;
}

/* .quadro-agendamento{
    padding: 1rem;
    width: 100%; 
}
.agendamento-area{
    margin-bottom: 1rem;
}
.agendamento-lista{
    display: flex;
    align-items: center;
    margin: 1rem 0 0 0;
}

.texto-quadro{
    color: var(--preto);
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-left: .5rem;
    margin-top: -.02rem;
}
.input-txt{
    padding: .8rem;
    width: 80%;
    margin-top: .5rem;
}
.box-agendamento{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
}
.box-agendamento input{
    width: 90%;
}
.multiselect {
  position: relative;
  font-family: var(--Roboto);
}

.selectBox {
  position: relative;
  padding: 13px 0;
  width: inherit;
}
.selectBox p{
    margin-left: .3rem;
}
#checkboxes {
  position: absolute;
  opacity: 0;
  width: 100%;
  padding: .5rem 0;
  background-color: #fffefe ;
  border-radius: 0 0 5px 5px;
  transition: 200ms all;
  max-height: 200px;
  overflow-x: hidden;
  box-shadow: 1px 0px 5px #00000041;
}

#checkboxes strong{
  font: revert;
  padding-left: .3rem;
  line-height: 1.5rem;
}

#checkboxes label {
  display: flex;
  align-items: baseline;
}

#checkboxes label > input{
    width: 30px;
  }

#checkboxes label:hover {
  background-color: #1e90ff;
}
.botao-2{
    display: block;
    width: 55%;
    margin: auto;
    border-color: transparent;
    padding: 1.5rem;
}
.input-mensagem-erros{
    display: block;
    color: var(--cor-erro);
    line-height: 1.5rem;
    font-family: var(--Roboto);
    font-size: 1rem;
}
.msg-erro{
    text-align: center;
    margin: 1rem auto;
    font-size: 1.1rem;
    color: var(--cor-erro);
}
.verifySucess{
    border: 1px solid green;
}
.verifyError{
    border: 1px solid var(--cor-erro);
}
/* .window-dialogo-agendamento{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: #D4A16D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-radius: 7px;
    z-index: 8;
}
.window-dialogo-agendamento h3:nth-child(1){
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.window-dialogo-agendamento h3:nth-child(1){
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.ofuscar::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000bd;
    z-index: 6;
    padding: 0;
}
.window-dialogo-agendamento strong{
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-transform: uppercase;
} */
/* @media screen and (min-width: 720px){
    .quadro-agendamento{
        padding: 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .box-agendamento{
        flex: 1 2 250px;
        gap: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .agendamento{
        width: 100%;
        margin: 3rem 0 5rem 0;
        padding: 3rem 0;
    }
    .border-2{
        width: 3%;
        margin-bottom: .5rem;
    }
    .quadro-agendamento{
        display: block;
        margin: 3rem 0;
        width: 100%;
        padding: 0;
    }
    .box-agendamento{
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
        padding: 0 1rem;
    }
    .box-agendamento input{
        width: 90%;
    }
    .agendamento-area{
        width: 100%;
        margin: 2rem auto;
    }
    /* .input-txt, .selectBox select{
        width: 60%;
    } */
    /* .botao-2{
        width: 20%;
        padding: 1.1rem;
    }
    .agendamento-paragrafo{
        font-size: 1.8rem;
        margin-bottom: .5rem;
        font-weight: 700;
    }
    .titulo-agendamento{
        font-size: 2rem;
        font-weight: 700;
    } 
} */ 
/* @media screen and (min-width: 1728px){
    .botao-2{
        margin-left: 46rem;
    }
} */