.card-cortes{
    position: relative;
    background-color: var(--cor-de-fundo);
}
.card{
    border: solid 1px var(--marrom-escuro);
    background-color: var(--marrom-escuro);
    max-width: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -30%);
    padding: 1rem;
}
.card-box{
    border: solid 1px var(--laranja);
    width: 300px;
    height: auto;
}
/* .box-cortes-geral{
    padding: 1.5rem;
  } */
.paragrafo-lista{
    color: var(--branco);
    text-align: start;
    font-family: var(--Roboto);  
    font-weight: 700;
    font-size: .8rem;
}
.cortes-paragrafo{
    margin-top: .5rem;
}
.titulo-lista-cortes{
    font-family: var(--Roboto);
    font-weight: 700;
    color: var(--laranja);
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.lista-cortes{
    display: flex;
    justify-content: space-between;
}
.texto-lista{
    color: var(--branco);
    text-align: start;
    font-family: var(--Roboto);  
    font-weight: 700;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.item-preco{
    color: var(--laranja);
    font-weight: 700;
    font-family: var(--Roboto);
}
.borda{
    border: 1px solid var(--laranja);
    width: 70%;
    margin: 1rem auto;
}
@media screen and (min-width: 1024px){
    .card{
        position: absolute;
        max-width: 800px;
        transform: translate(-50%, -50%);
        left: none;
    }
    .card-box{
        width: 100%;
        height: 20.5%;
    }
    .box-cortes-geral{
      display: flex;
      padding: 1rem;
      /* flex-direction: row-reverse; */
    }
    .borda{
        width: 1px;
        height: 14rem;
        margin-top: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .borda-cortes{
        display: none;
    }
    .box-cortes-1, .box-cortes-2{
        max-width: 350px;
        /* padding: 1rem; */
    }
    .paragrafo-lista{
        font-size: 1.2rem;
    }
    .titulo-lista-cortes{
        font-size: 1.5rem;
        margin: 1.3rem 0;
    }
    .texto-lista{
        font-size: 1.2rem;
        width: 22vw;
    }
    .item-preco{
        font-size:1.2rem;
        width: 8%;
        margin-left: 3rem;
    }
}
/* @media screen and (min-width: 1728px){
    .card{
        width: 93%;
        margin-left: 3rem;
        height: 37%;
    }
    .card-box{
        width: 90vw;
        height: 29vh;
        margin: 0 auto;
        border: solid 2px var(--laranja);
    }
    .box-cortes-geral{
        width: 90vw;
    }
    .borda{
      display: block;
      height: 14rem;
      margin-top: 4rem;
    }
    .box-cortes-1{
        width: 40%;
    }
    .box-cortes-2{
        width: 40%;
    }
    .paragrafo-lista .cortes-paragrafo{
        margin-top: 1.4rem;
    }
} */