footer{
    background-color: var(--verde);
    margin-top: 6rem;
    width: 100%;
    height: 65vh;
}
.itens-footer{
    padding-top: 20rem;
    text-align: center;
}
.paragrafo-footer{
    color: var(--branco);
    padding: 2rem;
    font-family: var(--Roboto);
    font-weight: 700;
}
.links-footer{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin: 0 auto;
}
.direitos-reservados{
    background-color: var(--marrom-escuro);
    padding: 1rem;
    text-align: center;
    color: var(--branco);
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 14px;
    margin-top: 2rem;
}
@media screen and (min-width: 1024px){
    footer{
        height: 70vh;
        width: 110vh;
        margin-top: 40rem;
    }
    .itens-footer{
        padding-top: 30rem;
    }
    .direitos-reservados{
        margin-top: 10rem;
    }
}
@media screen and (min-width: 1728px){
    footer{
        width: 100%;
        height: 70%;
    }
    .links-footer{
        width: 10%;
    }
}