.iniciativa{
    background-color:var(--verde);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.titulo-iniciativa{
    color: var(--laranja);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: var(--Roboto);
}
.conteudo-iniciativa{
    font-family: var(--Lato);
    color: var(--branco);
    font-weight: 400;
    margin: 2rem auto 2rem auto;
    text-align: center;
    line-height: 1.5rem;
}
.botao-agendamento{
    background-color: var(--laranja);
    color: var(--marrom-claro);
    font-family: var(--Roboto);
    font-weight: 700;
    padding: .7rem 1rem;
    width: 9rem;
    border-radius: .6rem;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0 auto;
}
@media screen and (min-width: 1024px){
    .iniciativa{
        background-color: transparent;
        position: absolute;
        margin-top: -30rem;
        text-align: start;
    }
    .conteudo-iniciativa{
        text-align: start;
    }
    .botao-agendamento{
        width: 12rem;
        border-color: transparent;
        margin-right: 6rem;
        margin-top: -1rem;
        font-size: .9rem;
        border-radius: .7rem;
    }
}
@media screen and (min-width: 1728px){
    .iniciativa{
        margin-top: -38rem;
        margin-left: 5rem;
    }
    .titulo-iniciativa{
        font-size: 2rem;
        font-weight: 700;
    }
    .conteudo-iniciativa{
        margin-right: 10rem;
        font-size: 1.3rem;
    }
    .botao-agendamento{
        height: 4rem;
        width: 18rem;
        margin-right: 16rem;
    }
}