.servicos{
 padding-top: 3rem;
 padding-bottom: 13rem;
 background-color: var(--verde);
 text-align: center;
}
.titulo-servicos{
    font-family: var(--Roboto);
    font-size: 1.3rem;
    color: var(--branco);
    font-weight: 700;
    margin: 1.5rem auto;
}
.chamada-servicos{
    color: var(--laranja);
    font-family: var(--Roboto);
    font-weight: 700;
    margin: 2rem auto;
    font-size: 1.3rem;
}
.titulo-lista{
    color: var(--branco);
    font-size: 1.8rem;
    font-weight: 700;
    font-family: var(--Roboto);
    margin: 1.3rem auto;
}
.conteudo-lista{
    color: var(--branco);
    font-family: var(--Roboto);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2.1rem auto;
}
@media screen and (min-width: 1024px){
    .servicos{
        width: 100vh;
        padding-top: 5rem;
    }
    .titulo-servicos{
        font-size: 2rem;
    }
    .chamada-servicos{
        font-size: 3rem;
    }
    .bloco-servicos{
        display: flex;
        justify-content: space-evenly;
        margin-top: 6rem;
        flex-direction: row-reverse;
    }
}
@media screen and (min-width: 1728px){
    .servicos{
        width: 100vw;
    }
    .titulo-servicos{
        font-size: 3rem;
    }
    .chamada-servicos{
        font-size: 4rem;
    }
    .borda{
        display: none;
    }
}