.border{
    border-top: var(--laranja) 3px solid;
    width: 3rem;
    margin: 0 auto;
}
.sobre{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   padding: 1.5rem;
   background-color: var(--branco);
}
.titulo-sobre{
    font-family: var(--Lato);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--marrom-claro);
    margin: 1rem auto;
}
.titulo-conteudo{
    font-family: var(--Roboto);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--laranja);
    text-align: start;
    margin: 0 auto;
    margin-bottom: .5rem;
}
.sobre-conteudo{
    font-family: var(--Lato);
    color: var(--marrom-claro);
    font-weight: 400;
    margin-bottom: 2rem;
    font-size: 1rem;
}
.opiniao{
    display: none;
}
.imagem-sobre{
    text-align: center;
}
@media screen and (min-width: 1024px){
    .sobre{
        margin-top: 3rem;
        width: 100vh;
        padding: 0;
    }
    .border{
        margin: auto;
    }
    .sobre-imagem{
        display: none;
    }
    .box-sobre{
        display:flex;
        justify-content: space-evenly;
    }
    .imagem-sobre{
        background-image: url(/assets/imagens_svg/Elegant\ Barbershop.png);
        background-repeat: no-repeat;
        background-size: 250px;
        width: 250px;
        height: 250px;
        text-align: end;
    }
    .textos-sobre{
        text-align: start;
    }
    .border-sobre{
        margin-right: 25rem;
    }
    .sobre-imagem{
        display: none;
    }
    .borda-sobre{
        width: 250px;
        height: 250px;
        position: relative;
        border: 3px solid var(--laranja);
        margin-left: -1.5rem;
        margin-top: .8rem;
    }
     .opiniao{
        background-image: url(/assets/imagens_svg/Banner2.png);
        background-repeat: no-repeat;
        width: 100vh;
        background-size: cover;
        height: 30rem;
        display: block;
        margin-top: 3rem;
     } 
     .aspas{
        width: 3rem;
        margin-top: 6rem;
        
     }
     .titulo-opiniao{
        font-family: var(--Roboto);
        font-weight: 700;
        font-size: 2rem;
        color: var(--branco);
        margin: 2rem 0;
        line-height: 1.5rem;
     }
     .nome-usuario{
        color: var(--laranja);
        font-family: var(--Roboto);
        font-size: 1.5rem;
     }
}
@media screen and (min-width: 1728px){
    .box-sobre{
       width: 100vw;
    }
    .titulo-conteudo{
        font-size: 2.5rem;
    }
    .sobre-conteudo{
        font-size: 1.2rem;
    }
    .imagem-sobre{
        width: 350px;
        height: 350px;
        background-size: cover;
    }
    .borda-sobre{
        width: 350px;
        height: 350px;
    }
    .opiniao{
        width: 100vw;
    }
    .aspas{
        width: 5rem;
        margin-top: 6rem;
    }
}